@if (int.Parse(Session["LangWeb"].ToString()) == 3)
{
    @Html.Action("Slider", "Home")
    <div class="box-product-hot">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">                 
                    @Html.Action("Social", "Home")
                    @Html.Action("Staff", "Home")
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding-left: 0">
                    @Html.Action("Social_Right", "Home")
                    @Html.Action("Staff_Right", "Home")
                </div>
            </div>
        </div>
    </div>
}
else
{
    @Html.Action("Slider", "Home")
    <div class="box-product-hot">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    @Html.Action("TrainingAndEducation", "Home")
                    @Html.Action("PublicEducation", "Home")
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding-left: 0">
                    @Html.Action("TrainingAndEducation_Right", "Home")
                    @Html.Action("PublicEducation_Right", "Home")
                </div>
            </div>
        </div>
    </div>
}

