@model List<OsWebsite.Models.News>
@{
    <title>@ViewBag.MetaTitle</title>
    if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    if (ViewBag.MetaKeywords != null)
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
    var NewsSlider = ViewBag.NewsSlider as List<OsWebsite.Models.NewsImages>;
    var Tag = ViewBag.Url;
}
<div class="banner-page">

</div>
<div class="box-product">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div style="padding-left: 0px; border-bottom: solid 1.2px #9a0000">
                    <ul style="border-bottom: 0px!important; padding-bottom: 2.1px" class="nav nav-tabs nav-prod menuc">
                        @foreach (var item in ViewBag.MenuIdDetail)
                        {
                            <li>
                                @if (ViewBag.Id == 318)
                                {
                                    <a ttId="@item.Tag" style="padding: 10px 6px!important; letter-spacing: -1.1px; border: 0px!important; float: left; border-radius: 15px 15px 0 0; font-size: 17px; font-weight: bold; background-color: #EBEBEB; color: #000000; transition: background-color 500ms;" href="@item.Link">@item.Name</a>

                                }
                                else
                                {
                                    <a ttId="@item.Tag" style="padding: 10px 6px!important; border: 0px!important; float: left; border-radius: 15px 15px 0 0; font-size: 17px; font-weight: bold; background-color: #EBEBEB; color: #000000; transition: background-color 500ms;" href="@item.Link">@item.Name</a>
                                }

                            </li>
                        }
                    </ul>
                </div>
                <div style="background-color: #f5f5f5; padding-top: 10px" class="col-md-12">
                    <h4>
                        <a style="text-decoration: none; color: #000; font-weight: bold;">
                            @Model[0].Name
                        </a>
                    </h4>
                    <div style="padding-top: 10px; padding-bottom: 10px" class="col-md-1">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@Model[0].Tag"><img style="padding-bottom: 10px" class="img img-responsive" src="~/Icon/Tin chi tiet/Face.png" /></a>
                        <a id="viber_share" target="_blank" href="https://plus.google.com/share?url=@Model[0].Tag"><img style="padding-bottom: 10px" class="img img-responsive" src="~/Icon/Tin chi tiet/Viber.png" /></a>
                        <a target="_blank" href="http://developers.zalo.me"><img style="padding-bottom: 10px" class="img img-responsive" src="~/Icon/Tin chi tiet/Zalo.png" /></a>
                        <script>
                            var buttonID = "viber_share";
                            var text = "Check this out: ";
                            document.getElementById(buttonID)
                                .setAttribute('href', "https://3p3x.adj.st/?adjust_t=u783g1_kw9yml&adjust_fallback=https%3A%2F%2Fwww.viber.com%2F%3Futm_source%3DPartner%26utm_medium%3DSharebutton%26utm_campaign%3DDefualt&adjust_campaign=Sharebutton&adjust_deeplink=" + encodeURIComponent("viber://forward?text=" + encodeURIComponent(text + " " + window.location.href)));
                        </script>
                    </div>
                    <div style="padding-top: 10px;  padding-bottom: 10px" class="col-md-11">
                        @Html.Raw(@Model[0].ContentNew)
                    </div>
                    @Html.Action("NewsOthers", "News", new { MenuID = Model[0].MenuID, IdNews = Model[0].ID })
                </div>
            </div>
            <div class="col-md-3" style="padding: 0">
                @Html.Action("Social_Banner", "Home")
            </div>
        </div>
    </div>
</div>
<script>
     var channel = "@Tag";
        $('.menuc a').each(function () {
            var c = $(this).attr('ttId').toLowerCase();
            if (c.lastIndexOf(channel) == 0) {
                    $(this).closest('li a').addClass('activemenu');
                }
        })
</script>