@using OsWebsite.Models;
@model PagedList.IPagedList<OsWebsite.Models.News_Get4Cap_Result>
@using PagedList.Mvc;

@{
    <title>@ViewBag.MetaTitle</title>
    if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    if (ViewBag.MetaKeywords != null)
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
    string Tag = System.IO.Path.GetFileNameWithoutExtension(Request.RawUrl);
    //kiểm tra tag xem có kèm gì khác ngoài tag
    string Tagcheck = Tag.Substring(Tag.LastIndexOf("?") + 1);
    //Replace hết kí tự lạ
    Tag = Tag.Replace("?" + Tagcheck, "");
}
<div class="banner-page">

</div>
<div class="box-product">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div style="padding-left: 0px; border-bottom: solid 1.2px #9a0000">
                    <ul style="border-bottom: 0px!important; padding-bottom: 2.1px" class="nav nav-tabs nav-prod menuc">
                        @foreach (var item in ViewBag.MenuIdPublicEducation)
                        {
                            <li>
                                <a ttId="@item.Tag" style="padding: 10px 6px!important; border: 0px!important; float: left; border-radius: 15px 15px 0 0; font-size: 17px; font-weight: bold; background-color: #EBEBEB; color: #000000; transition: background-color 500ms;" href="@item.Link">@item.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div style="background: #f5f5f5; padding-top: 15px;" class="content-tab col-md-12">
                    @foreach (var item in Model)
                    {
                        <div style="padding-left: 0px!important; padding-bottom: 15px!important; height: 170px" class="col-md-12">
                            <div style="padding: 0!important" class="box-img-module col-md-3 box-item-module-left">
                                <a href="/@item.Tag">
                                    <img style="width: 100%; height: 150px" class="img img-responsive" src="@item.Img" alt="@item.Name" />
                                </a>
                            </div>
                            <div class="col-md-9 box-item-module-right">
                                <div class="title-module-main">
                                    <a style="text-decoration: none!important" href="/@item.Tag"><p><span style="font-size: 16px; font-weight: bold;">@item.Name</span></p></a>
                                </div>
                                <div class="des-module-main">
                                    <p><span>@Html.Raw(item.Decription)</span></p>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="page-list home" style="float:right">
                        @Html.PagedListPager(Model, page => Url.Action("", Tag, new { page }))
                    </div>
                </div>
            </div>

            @Html.Action("Social_Banner", "Home")
        </div>
    </div>
</div>
<script>
     var channel = "@Tag";
        $('.menuc a').each(function () {
            var c = $(this).attr('ttId').toLowerCase();
            if (c.lastIndexOf(channel) == 0) {
                    $(this).closest('li a').addClass('activemenu');
                }
        })
</script>